<div class="sidebar">
  <div class="logo-details">
    <app-dark-mode-toggle></app-dark-mode-toggle>
  </div>
  <ul class="nav-list">
    <li>
      <a href="/newNote"><i class='bx bx-pencil bx-tada-hover' ></i></a>
      <span class="tooltip">New</span>
    </li>
    <li>
      <a href="/calendar">
        <i class='bx bxs-calendar bx-tada-hover'></i>
        <span class="links_name">Calendar</span>
      </a>
      <span class="tooltip">Calendar</span>
    </li>
    <li class="logOut">
      <i class='bx bx-log-out' (click)="SignOut()" id="log_out" ></i>
    </li>
  </ul>
</div>

