<div id="dataviewDiv">
  <p-dataView [value]="Notes"  #dv filterBy="title" [loading]="loading" [sortField]="sortField" [sortOrder]="sortOrder" [paginator]="true" [rows]="5">
    <ng-template pTemplate="header">
      <input type="text" pInputText placeholder="Search by Title" (input)="dv.filter($event.target.value,'contains')">
    </ng-template>
    <ng-template let-note pTemplate="listItem">
      <div class="p-col-12 p-3 shadow-1 my-1" >
        <div class="product-list-item">
          <div class="product-list-detail">
           <div> <p-tag styleClass="p-mr-2" severity="info" value="T"></p-tag><span class="product-name"> {{note.title}}</span></div>
            <p-tag styleClass="p-mr-2" severity="success" value="C"></p-tag><span class="product-category"> {{note.category.name}}</span>
            <button pButton pRipple [routerLink]="['/view',note.title]" type="button" icon="pi pi-book" class="p-button-rounded p-button-success p-button-outlined"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
