#dataviewDiv{
  box-shadow: 0 20px 40px 0 rgba(0,0,0,.1)
}


.p-button-success{
  position: absolute;
  left: 79%;
  margin-block: -18px;
}
::ng-deep #dataviewDiv > p-dataview > div > div.p-dataview-content{
  min-height: 78vh;
}
::ng-deep .p-paginator-last,.p-paginator-first{
  display: none;
}
