::ng-deep body > app-root > app-view-note > div > div.col-9 > div > div > p-editor > div > div.p-editor-toolbar.ql-toolbar.ql-snow.ng-star-inserted > span:nth-child(5) > button.ql-image
{
  display: none;
}

#delete{
  position: absolute;
  left: 56%;
  top: 10%;
}
.view-header{
  color: #1266f1;
}

@media screen and (max-width: 992px) {
  #delete{
    left: 70%;
  }
}
