<app-auth-navbar></app-auth-navbar>

<div id="signInBackground" [style.background-image]="'url(assets/authbackground.png)'">
  <div class="container">
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="shadow-5">
          <p-card>
            <div class="card-header">
              <h4>Sign In</h4>
            </div>
            <div class="card-body ">
              <form (ngSubmit)="SignIn()" [formGroup]="signInForm" >
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    formControlName="username"
                  />
                </div>
                <div class="form-group">
                  <label for="username">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                  />
                </div>
                <button type="submit"  [disabled]="!signInForm.valid" class="btn btn-primary mt-2">
                  SignIn
                </button>
                <a type="button" href="/signup" class="btn btn-warning mt-2 mx-2">
                  SignUp
                </a>
              </form>

            </div>
          </p-card>
        </div>
      </div>

      <div class="col-md-6 mx-auto" >
      </div>

      <img id="note1" src="assets/note1.png">
      <img id="note2" src="assets/note2.png">
      <img id="note3" src="assets/note3.png">
      <img id="note4" src="assets/note4.png">
      <img id="note5" src="assets/note5.png">
      <img id="note6" src="assets/note6.png">

    </div>
  </div>
</div>
