<app-side-bar></app-side-bar>
<div class="row m-0">
  <div class="col-9">
    <p-toast position="top-left"></p-toast>
    <div class="p-4 marginSideBar">
    <h2>New Note</h2>
      <form [formGroup]="newNote" (ngSubmit)="onsubmit()">
        <div class="form-group">
          <label for="noteTitle">Title</label>
          <input type="text" class="form-control" id="noteTitle" formControlName="title" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label for="noteCategory">Category</label>
          <input id="noteCategory" class="form-control" formControlName="category" type="text">
        </div>
        <div class="form-group">
          <label for="doBefore">To do Before</label>
          <div>
          <p-calendar id="doBefore" formControlName="doBefore" dateFormat="yy-mm-dd" [showIcon]="true" [readonlyInput]="true"></p-calendar>
          </div>
        </div>
        <div class="pt-2 mb-2">
          <p-editor [minlength]="5" formControlName="text" [style]="{'height':'320px'}"></p-editor>
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-3 shadow-5">
    <app-notes-list></app-notes-list>
  </div>
</div>
